<div style="margin-top: 10px;margin-left: 10px;margin-right: 10px;color:#5c5c5c;font-weight:normal">
  <h1>Steven's Projects</h1>

  <h2>Gothello</h2>
  <p>
    Gothello is an application I wrote to get familiar with the popular <a href="https://golang.org">Go</a> programming language.  It is an implementation of the popular board game Othello using Go and basic html/js.  Rules and game logic are enforced serverside.  The game uses a REST API where possible and websockets otherwise.  It is hosted on heroku and can be accessed <a href="http://gothello.stevendirth.com">here</a>.  Do note that it is incomplete at this time, but basic functionality such as being able to play against another player is available.
  </p>
</div>
