<div style="margin-top: 10px;margin-left: 10px;margin-right: 10px;color:#5c5c5c;font-weight:normal">
    <h1>Steven's Employment History</h1>

    <h2>Corteva Agriscience</h2>
    <p>
        I worked for Corteva as an intern in the Data Science & Informatics (DSI) department during the summer of 2019.
        I primarily worked on internal tools utilizing Angular and C#/.NET.  I spent most of my time on the
        Azure Functions project, but also worked on a background service and an Angular site.
    </p>
    <p>
        I plan to return to Corteva for a second internship during Summer 2020, but these plans may be affected by the
        Coronovirus pandemic.
    </p>
</div>
