<div style="margin-top: 10px;margin-left: 10px;margin-right: 10px;color:#5c5c5c;font-weight:normal">
    <h1>Steven's Employment History</h1>

    <h2 #corteva>Corteva Agriscience</h2>
    <p>
        I'm currently working for Corteva as an intern in the Data Science & Informatics (DSI) department.
        I will continue to work there through August 16th, then transition to ISU for my Junior year.
        I'm still discussing with my mentor what exactly I can put on this site as far as my work goes,
        but I can tell you I'm working with C# .NET/.NET Core, Azure, and Angular.
    </p>
</div>