<div class="github-card user-card">
    <div class="header">
        <a class="avatar" href="https://github.com/dirthsj" target="_top">
            <img src="https://avatars1.githubusercontent.com/u/3802881?v=4&amp;s=48">
            <strong>Steven Dirth</strong>
            <span>@dirthsj</span>
        </a>
        <a class="button" href="https://github.com/dirthsj" target="_top">Follow</a>
    </div>
    <ul class="status">
        <li>
            <a href="https://github.com/dirthsj?tab=repositories" target="_top">
                <strong>{{numRepos}}</strong>Repos
            </a>
        </li>
        <li>
            <a href="https://gist.github.com/dirthsj" target="_top">
            <strong>{{numGists}}</strong>Gists</a>
        </li>
        <li>
            <a href="https://github.com/dirthsj/followers" target="_top">
                <strong>{{numFollowers}}</strong>Followers
            </a>
        </li>
    </ul>
</div>