@page "/education"

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Bachelors Degree in Software Engineering</h5>
        <p class="card-text">I'll be graduating from Iowa State University with a degree in Software Engineering spring of 2021.</p>
        <a href="https://www.se.iastate.edu/" class="btn btn-primary">Software Engineering at ISU</a>
    </div>
</div>