@page "/"

<h1>New Website</h1>

My new website is written using <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a>, a framework for deploying C# applications to the web via <a href="https://webassembly.org/">Web Assembly</a>!