@page "/resume"
@inject IJSRuntime JSRuntime;


<h5>Resume - <a href=@ResumePdf download>Download</a></h5>

<div id=@PdfContainerId class="pdfViewer singlePageView"></div>


@code {
    private const string ResumePdf = "/assets/resume.pdf";
    private const string PdfContainerId = "viewerContainer";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("drawPdf", PdfContainerId, ResumePdf);
        }
    }
}