@page "/resume"

<h1>Resume - <a href="@ResumePdf " download>Download</a></h1>
<div style="position: relative;width: 100%;padding-top: 130%"> @* 8.5:11 aspect ratio *@ 
    <iframe style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height: 100%" src="https://mozilla.github.io/pdf.js/web/viewer.html?file=https://stevendirth.com/assets/resume.pdf"></iframe>
</div>

@code {
    private const string ResumePdf = "/assets/resume.pdf";
}