<div class="github-card user-card">
    <div class="header">
        <a class="avatar" href="https://github.com/dirthsj" target="_top">
            <img src="https://avatars1.githubusercontent.com/u/3802881?v=4&amp;s=48">
            <strong>Steven Dirth</strong>
            <span>@@dirthsj</span>
        </a>
    </div>
</div>
