@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">

        <LinkedIn />
        <GitHub />
        <a href="https://travis-ci.org/github/dirthsj/dirthsj.github.io"><img src="https://travis-ci.org/dirthsj/dirthsj.github.io.svg?branch=blazor" /></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>